@media screen and (max-width: 1200px) {
  .header-image {
    top: 7em;
  }
  .top-wave-container {
    height: 1090px;
  }
}
@media screen and (max-width: 1150px) {
  .header-image {
    top: 7.5em;
  }
  .top-wave-container {
    height: 1080px;
  }
}
@media screen and (max-width: 1100px) {
  .header-image {
    top: 8em;
  }
  .top-wave-container {
    height: 1060px;
  }
}
@media screen and (max-width: 1050px) {
  .top-wave-container {
    height: 1040px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  }
  .top-wave-container {
    height: 1030px;
  }
}
@media screen and (max-width: 950px) {
  .top-wave-container {
    height: 980px;
  }
  .top-text-box {
    bottom: 22em;
  }
  svg.blob,
  svg.blob-line {
    height: 25em;
  }
  .blob-text {
    left: 35px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 900px) {
  nav {
    padding: 2.1em 0 5em;
    width: 30%;
    border: none;
    border-bottom-right-radius: 200px;
    transform: translateX(-100%);
    z-index: 6;
    opacity: 0;
  }
  nav ul {
    padding-top: 1.5em;
    padding-left: 34px;
    flex-direction: column;
  }
  nav ul li {
    margin-top: 1em;
  }
  .menu-container {
    position: absolute;
    color: white;
    display: unset;
  }
  .dropdown {
    width: fit-content;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -2.32em;
    margin-left: 7.5em;
  }
  .dropdown li {
    padding-top: 0.2em;
    padding-right: 2em;
  }
  .show {
    opacity: 0.95;
  }
  .top-text-box {
    bottom: 23em;
  }
  .bottom-section {
    flex-flow: column nowrap;
    padding-left: 3em;
  }
  .bottom-text-container {
    margin: 0;
  }
  .read-more-btn {
    box-shadow: var(--primary-shadow);
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0;
  }
}
@media screen and (max-width: 850px) {
  .blob-container {
    top: 27em;
  }
  .top-text-box {
    bottom: 24.5em;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    border-width: 10px;
  }
  .header-wave svg,
  .header-line svg {
    height: 80%;
  }
  .header-image {
    top: 6.8em;
  }
  .blob-container {
    top: 26em;
  }
  .top-text-box {
    bottom: 26em;
  }
}
@media screen and (max-width: 750px) {
  .blob-container {
    top: 25em;
  }
  .top-text-box {
    bottom: 28em;
  }
}
@media screen and (max-width: 700px) {
  .top-text-box {
    bottom: 30em;
  }
}
@media screen and (max-width: 650px) {
  .logo {
    border-width: 8px;
  }
  .top-text-box {
    bottom: 31em;
    right: 1em;
  }
  .bottom-section {
    padding-left: 2em;
  }
  .bottom-text-container {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .top-wave-container {
    height: 850px;
  }
  .top-text-box {
    bottom: 26em;
  }
  .bottom-section {
    bottom: 10em;
  }
  .extra-height {
    height: 70px;
    background-color: var(--light-accent);
  }
}
@media screen and (max-width: 550px) {
  .logo {
    border-width: 7px;
  }
  .bottom-section {
    bottom: 18.5em;
  }
  .extra-height {
    height: 120px;
  }
  footer {
    display: grid;
    row-gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 2.5em;
  }
  .social-icons {
    order: 1;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-content: center;
  }
  .contact-list {
    order: 2;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .adress-list {
    order: 3;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-content: flex-end;
    align-self: flex-start;
  }
}
@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    border: none;
    border-bottom-right-radius: unset;
    transform: translateY(-100%);
  }
  nav.show {
    padding-top: 4em;
    padding-bottom: 2em;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
    padding: 1em 0 0 0;
  }
  .dropdown {
    position: relative;
    display: none;
    left: unset;
    width: 100%;
    margin: 0 auto;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: unset;
    padding: 0em 0 1em 0;
    text-align: center;
  }
  .dropdown li:first-child {
    padding-top: 1em;
  }
  .dropdown li {
    padding-right: unset;
  }
  ul li:hover ul.dropdown,
  ul li:focus ul.dropdown {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
  }
  ul li ul.over-ons,
  ul li ul.de-stichting {
    top: unset;
    right: unset;
    padding-top: 0;
  }
  .menu-container {
    position: relative;
    left: unset;
    text-align: center;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-subtitle {
    font-size: 1.4rem;
  }
  .header-image {
    top: 6em;
  }
  .header-wave svg,
  .header-line svg {
    height: 70%;
  }
  svg.blob,
  svg.blob-line {
    height: 20em;
  }
  .blob-text {
    font-size: 1.5rem;
  }
  .blob-container {
    top: 20em;
    left: -1em;
  }
  .top-wave-container {
    height: 750px;
  }
  .top-text-box {
    max-width: 55%;
    bottom: 23em;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    border-width: 6px;
    margin-left: 1em;
  }
  .header-text-container {
    margin-top: 1em;
  }
  .header-wave svg,
  .header-line svg {
    height: 60%;
  }
  .header-image {
    top: 5.5em;
  }
  .blob-container {
    top: 18em;
  }
  .top-wave-container {
    height: 700px;
  }
  .top-text-box {
    bottom: 24em;
  }
  .top-text-box p {
    font-size: 1.1rem;
  }
  .top-text-box h4 {
    font-size: 1.2rem;
  }
  .bottom-section {
    bottom: 23em;
  }
  .bottom-text {
    font-size: 1.1rem;
  }
  .read-more-btn {
    font-size: 1.2rem;
  }
  .extra-height {
    height: 70px;
  }
  footer {
    place-content: center;
    place-items: center;
    grid-template-columns: unset;
    font-size: 1.1rem;
  }
  .social-icons {
    order: 1;
    grid-column: 1 / span 1;
  }
  .contact-list {
    order: 3;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column-reverse;
  }
  .adress-list {
    order: 2;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}
@media screen and (max-width: 400px) {
  .blob-container {
    top: 15em;
    left: -1em;
  }
  .blob-text {
    left: 1.5em;
    font-size: 1.3rem;
  }
  svg.blob,
  svg.blob-line {
    height: 16em;
  }
  .top-text-box {
    right: 0.5em;
    bottom: 25em;
  }
  .bottom-section {
    padding-left: 1em;
  }
  .extra-height {
    height: 80px;
  }
}
@media screen and (max-width: 350px) {
  .logo {
    border-width: 4px;
  }
  .header-title {
    font-size: 2.5rem;
  }
  .header-subtitle {
    font-size: 1.1rem;
  }
  .header-image {
    top: 4.2em;
  }
  .header-wave svg,
  .header-line svg {
    height: 48%;
  }
  .top-text-box {
    bottom: 27em;
  }
}
